.default {
    max-height: 24px;
    border: none;
    margin: 1px 1px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #1beabd 40%, #10abff);
    color: white;
}

.default:disabled {
    color: black;
    opacity: 0.2;
}

.red {
    background-image: linear-gradient(45deg, #e47c7c 40%, #ffc4b2);
    border: none;
    border-radius: 8px;
}

.red:hover {
    background: rgba(0, 0, 0, 0);
    color: #e47c7c;
    box-shadow: inset 0 0 0 3px #ffc4b2;
}

.default:not([disabled]):hover {
    background: rgba(0, 0, 0, 0);
    color: #1beabd;
    box-shadow: inset 0 0 0 3px #10abff;
}